<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.2.0" targetFramework="net46" />
  <package id="EntityFramework.ru" version="6.2.0" targetFramework="net46" />
  <package id="EPPlus" version="7.4.2" targetFramework="net46" />
  <package id="EPPlus.Interfaces" version="6.1.1" targetFramework="net46" />
  <package id="EPPlus.System.Drawing" version="6.1.1" targetFramework="net46" />
  <package id="MaterialDesignColors" version="1.2.3" targetFramework="net46" />
  <package id="MaterialDesignThemes" version="3.1.0" targetFramework="net46" />
  <package id="PdfiumViewer" version="2.13.0.0" targetFramework="net46" />
  <package id="Syncfusion.Data.WPF" version="27.1.58" targetFramework="net46" />
  <package id="Syncfusion.Licensing" version="27.1.58" targetFramework="net46" />
  <package id="Syncfusion.SfGrid.WPF" version="17.2.0.34" targetFramework="net46" />
  <package id="Syncfusion.SfKanban.WPF" version="17.2.0.34" targetFramework="net46" />
  <package id="Syncfusion.Shared.WPF" version="17.2.0.34" targetFramework="net46" />
</packages>